# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter
.metadata/.plugins/org.eclipse.cdt.core
.metadata/.plugins/org.eclipse.cdt.core
.metadata/.plugins/org.eclipse.cdt.core/STM32F446_Linker_Startup.1674596657536.pdom
.metadata/.plugins/org.eclipse.cdt.make.core
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core
.metadata/.plugins/org.eclipse.cdt.core
.metadata/.plugins/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime
.metadata/.plugins/org.eclipse.ui.workbench
.metadata/.plugins/org.eclipse.ui.ide
.metadata/.log4j.xml
.metadata/.ide.log
.metadata/.lock
.metadata
